@use '@styles/variables' as *;

.page {
    background: $color-page-bg;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: $header-height-sm;
    padding: 0 $space-sm;
    border-bottom: 2px solid $color-border-dark;
}

.nav {
    display: none;
}

.icons {
    display: flex;
    gap: $space-lg;
}

.main {
    flex: 1;
    padding: 0 $space-xs;
    display: flex;
    flex-direction: column;
}

.footer {
    padding: $space-xl $space-sm;
    margin-top: auto;
}

/* =================== MEDIA QUERIES =================== */

@media (min-width: $screen-m) {
    .header {
        height: $header-height-md;
        padding: 0 $space-xl;
    }

    .nav {
        display: flex;
        gap: $space-xxl;
    }

    .main {
        padding: 0 $space-xl;
    }

    .footer {
        padding: $space-xl $space-xl;
    }
}

@media (min-width: $screen-l) {
    .header {
        padding: 0 $space-xxl;
    }

    .main {
        padding: 0 $space-xxl;
    }

    .footer {
        padding: $space-xl $space-xxl;
    }
}

@media (min-width: $screen-xl) {
    .header {
        padding: 0 120px;
    }

    .main {
        padding: 0 120px;
    }

    .footer {
        padding: $space-xl 120px;
    }
}