$color-primary: #ffffff;
$color-primary-hover: #6f8c89;
$color-border: #d9d9d9;
$color-accent: #E50914;
$color-white: #ffffff;

$color-primary-text: #ffffff;
$color-secondary-text: #B3B3B3;
$color-accent-text: #3b82f6;

$button-primary-text: #ffffff;

$button-primary-bg: #E50914;
$button-primary-bg-hover: #F40612;
$button-primary-bg-disabled: #D9D9D9;
$button-primary-bg-active: #B20710;

$loader-bg: #518581;

$space-xxs: 8px;
$space-xs: 12px;
$space-s: 14px;
$space-l: 32px;
$space-xl: 48px;

$font-s: 14px;

$font-family-base: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
$font-family-button: 'Roboto', sans-serif;


$border-radius: 6px;