@use '@styles/variables' as *;

.card {
    display: flex;
    flex-direction: column;
    gap: $space-xl;

    width: $card-width;

    background: $color-surface-primary;
    border-radius: $border-radius;
    overflow: hidden;
}

.header {
    position: relative;
    aspect-ratio: 1 / 1;
    background: $color-surface-secondary;
}

.image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.badge {
    position: absolute;
    top: $space-xs;
    height: $badge-height;
    display: flex;
    align-items: center;
    gap: $space-xs;

    padding: $space-xxs $space-sm;

    background: $color-overlay-dark;
    border-radius: $badge-radius;
}

.left {
    left: $space-xs;
}

.right {
    right: $space-xs;
}

.body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding: 0 $space-md $space-md;
    gap: $space-s;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.meta {
    text-align: center;
}

.actions {
    display: flex;
    justify-content: stretch;
    gap: $space-xs;
    width: 100%;
}

.cardButton {
    padding: $card-button-padding-y $card-button-padding-x;
    height: $card-button-height;
    min-height: $card-button-height;
}