@use '../../styles/variables' as *;

.card {
    display: flex;
    flex-direction: column;
    gap: 32px;

    width: 360px;

    background: #1e1e1e;
    border-radius: $border-radius;
    overflow: hidden;
}

/* ================= HEADER ================= */

.header {
    position: relative;
    aspect-ratio: 1 / 1;
    background: #2a2a2a;
}

.image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* ================= BADGES ================= */

.badge {
    position: absolute;
    top: 12px;
    height: 24px;
    display: flex;
    align-items: center;
    gap: $space-xxs;

    padding: 4px 12px;

    background: rgba(0, 0, 0, 0.8);
    border-radius: 12px;
}

.left {
    left: 12px;
}

.right {
    right: 12px;
}

/* ================= BODY ================= */

.body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding: 0 16px 16px;
    gap: $space-s;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.meta {
    text-align: center;
}

/* ================= ACTIONS ================= */

.actions {
    display: flex;
    justify-content: stretch;
    gap: $space-xxs;
    width: 328px;
}

/* ================= BUTTON OVERRIDE ================= */

.cardButton {
    padding: 17px 27px;
    height: 52px;
    min-height: 52px;
}