.multiDropdown {
    position: relative;
    font-family: 'Roboto', sans-serif;
}

.options {
    margin-top: 8px;
    width: 100%;
    max-height: 200px;
    overflow-y: auto;

    background: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    list-style: none;
    padding: 0;
}

.option {
    display: flex;
    align-items: center;
    padding: 14px 12px;
    height: 48px;
    cursor: pointer;

    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    color: #000000;

    &.selected {
        color: #518581;
        font-weight: 500;
    }
}

.selected {
    color: #518581;
    font-weight: 500;
}

.noResults {
    padding: 14px 12px;
    height: 48px;
    color: #AFADB5;
}