@use '@styles/variables' as *;

.multiDropdown {
  position: relative;
  font-family: $font-family-button; // Roboto
}

.options {
  margin-top: $space-xs; // 8px
  width: 100%;
  max-height: 200px;
  overflow-y: auto;

  background: $color-dropdown-bg; // тёмный фон
  box-shadow: $shadow-dropdown;
  list-style: none;
  padding: 0;
}

.option {
  display: flex;
  align-items: center;
  padding: $space-s $space-sm; // 14px 12px
  height: $button-height; // 48px
  cursor: pointer;

  font-size: $font-sm; // 16px
  line-height: $line-height-sm; // 20px
  font-weight: $font-weight-regular;
  color: $color-dropdown-text; // белый текст

  &.selected {
    color: $loader-bg; // #518581 для выделенной опции
    font-weight: $font-weight-medium;
  }
}

.selected {
  color: $loader-bg;
  font-weight: $font-weight-medium;
}

.noResults {
  padding: $space-s $space-sm; // 14px 12px
  height: $button-height;
  color: $color-dropdown-text-disabled; // серый текст для "нет результатов"
}